{
    "discordToken": "op://Private/Discord - Simple Bot/token",
    "clubInfo": {
        "nets": "./clubInfo/nets.md",
        "meetings": "./clubInfo/meetings.md",
        "repeaters": "./clubInfo/repeaters.md"
    }
}